/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

/*html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}*/

.navbar-fixed {
    z-index: 9999;  
}

#sidenav-overlay {
    z-index: 1;
    }

.default_color{background-color: #004063;}

.default_color_text{color: red !important;}

.icon-block {
    padding: 0 15px;
}

.card .card-content {
    padding: 2% !important;
}

#intro, #work, #team {padding-top: 2rem;}

.header_container {
    margin-left: 5%;
    padding-top: 50px !important;
}

.waves-effect {
    margin: 0 auto !important;
}

.cellphone {
    background-image: url('../img/cel.png');
}

.row .col.m2 {
    width: 14% !important;
}

.member_photo {
    text-align: center;
    margin-top: 20px;
    display: block;
}

#contact {
    background: #161616 !important;
}

.contatoHeader i {
    font-size: 45px;
    color:white;
}

.contatoHeader span {
    margin-left: 20px;
    font-size: 60px;
    color:white;
}

.card .card-image img {
    object-fit: cover;
}

.row .col.m2.draggable-icon {
    width: 100px !important;
    height: 120px;
}

.col.m2.draggable-icon a {
    color: #000;
}

.simu_header {
    font-size: 2rem !important;
}

.stackDrop {
    width: 100%; 
    height: 600px; 
    display: block;
    text-align: center;
}

.stackDrop.no-item {
    line-height: 600px !important;
}

#team .card-avatar .card-content a {
    color: #000;
}

.dragged-in {
    margin-top: 20px;
}

.valorTotal {
    font-size: 2rem;
    margin-left: 10px;
    border-bottom: none !important;
    height: auto !important;
    line-height: 1.5 !important;
}

#valorTotal {
    font-size: 2rem;
    margin-left: 10px;
    border-bottom: none !important;
    height: auto !important;
    line-height: 1.5 !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal !important;
}

@media only screen and (max-width: 400px) {
    #work {
        display: none;
    }

    .parallax img {
        content: url("../img/lights-400.jpeg") !important;
    }

    #index-banner {
        background-position-x: -700px !important;
    }

    nav a.button-collapse {
        left: -10px !important;
    }

    .header_logo {
        display: none;
    }

    .text_h_custom {
        font-size: 4.2rem !important;
    }

    .switch.app {
        padding-top: 65%;
        padding-left: 20%;
    }

    #cellphone-example {
        background-image: url('../img/cel.png');
        background-repeat: no-repeat;
        height: 700px;
        margin: 0 auto;
        width: 343px;
    }

    .switch.app {
        padding-top: 92%;
        padding-left: 60%;
    }
}

@media only screen and (max-width: 601px) and (min-width: 401px) {
    #work {
        display: none;
    }
    
    .parallax img {
        content: url("../img/lights-600.jpeg") !important;
    }

    .text_h_custom {
        font-size: 4.2rem !important;
    }

    .switch label input[type=checkbox]:checked+.lever:after {
        left: 20px !important;
    }

    .switch label .lever:after {
        width: 15px !important;
        height: 15px !important;
    }

    .switch label .lever {
        width: 25px !important;
        height: 10px !important;
    }
    
    #cellphone-example {
        background-image: url('../img/cel.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 700px;
        margin: 0 auto;
        width: 343px;
    }

    .switch.app {
        padding-top: 92%;
        padding-left: 60%;
    }
}

@media only screen and (max-width: 700px){
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .card .card-image img {
        object-position: top !important;
    }

    .row .col.m2 {
        width: 60% !important;
        float: none;
        margin: auto;
    }

    h2 {
        font-weight: 100 !important;
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }

    .text_b {
        font-weight: 400 !important;
    }

    .row .col {
        width: 100% !important;
    }
}

@media only screen and (min-width: 701px) {
    #team .row {
        display: inline-flex;
    }

    .switch.app {
        padding-top: 107%;
        padding-left: 60%;
    }

    #cellphone-example {
        background-image: url('../img/cel.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 343px; 
        height: 800px;
        margin:auto;
    }

    .header_logo {
        width: 58px;
        height: 58px;
        
        margin-top: 3px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 601px) {
    .header_logo {
        width: 50px;
        height: 50px;

        margin-top: 3px;
        margin-left: 19%;
    }
}

.text_h_custom {
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}


#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    /*background-color: #004063;*/
    background-image: url("../img/parallax5-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #004063;}

.text_b{color: #004063;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #004063;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #004063;}

.card-content a:hover {color: #004063;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #004063;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
    background-color: #424242;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}